body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f4f4f4;
line-height: 1.6;
}

header {
display: flex;
background-color: #703618;
color: white;
padding: 10px 40px;
height: 140px;
align-items: center;
justify-content: space-between;
}

.Logo{
display: flex;
align-items: center;
width: 100%;
}

.Logo img{
display: flex;
width: 350px;
height: auto;
}

.Logo p{
display: flex;
text-align: center;
align-items: center;
margin-left: 20%;
font-size: 20px;
}

.card:hover{
box-shadow: 3px 3px 10px 5px rgb(59, 59, 59);
transition: 0.3s all;
}

nav {
background-color: #4f2611;
padding: 10px;
text-align: center;
}

nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}

nav a:hover{
color: #8E991B;
transition: 0.5s ease;
}

.section {
padding: 40px;
max-width: 1200px;
margin: auto;
}

.card {
background: #8E991B;
color: white;
width: 100%;
padding: 25px;
margin: 20px 0;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
color: white;
}

.lista {
margin-top: 15px;
}

.item {
margin-bottom: 10px;
}

button {
background-color: #666e14;
color: white;
border: none;
padding: 15px 20px;
cursor: pointer;
border-radius: 5px;
font-size: 16px;
margin-top: 15px;
}


button:hover {
background-color: #4c520e;
}

footer {
background-color: #703618;
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;
}
